*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Karla, sans-serif;
}

.header-container{
    display: flex;
    flex-direction: row;
    padding-right: 1.25rem;
    align-items: center;
    background-color: #FFD700;
    color: black;
}
.header--logo{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header--title{
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.logo{
    height: 100%;
    width:120px;
}